.main-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ps-text {
    align-self: flex-start;
    margin-top: 20px;
}

.slider{
    margin-top: 10px;
}


.ps-button-generate{
    margin-top: 20px;
    padding: 6px;
    border-radius: 8px;
}
