.App {
  text-align: center;
  cursor: default;
  overflow: auto;
}

html {
  overflow: hidden;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Hides the scrollbar For WebKit browsers (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
  display: none; /*  */
}

/* Hides the scrollbar For Firefox */
.scroll-container {
  scrollbar-width: none;
}

/* Hides the scrollbar For Internet Explorer and Edge */
.scroll-container {
  -ms-overflow-style: none;
}


.home-container {
}

.title {
  font-size: 10ch;
}

.sub-title {
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-container {
  background-color: white;
  border-radius: 16px;
  padding: 24px 32px;
  color: black;
}

.menu-element {
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}
